<div class="row" style="background-color:#5a5858;">
    
    <div class="col-lg-11">
    <h2 class="text-center" style="color:white;font-size:50px;margin-left: -600px;">Car Details</h2>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-info" title="Pdf" style="border-radius: 40px;margin-top: 7px;"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm2" style="font-size:40px;"></i></button>
</div>

  </div>
  <br>
  
      <!-- row 4 -->
      <div class="row">
        <!-- <div class="col-lg-2">
            <img src="../assets/car.gif" style="width:350px;height:550px;margin-left: 230px;margin-top: 30px;border-radius: 30px;">
        </div> -->
        <div class="col-lg-1">

        </div>
        
      <div class="col-lg-11" style="">
      <div class="container">
        <div class="row" style="margin-top: 20px;margin-left: 0px;">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel" style="height:540px;width: 1200px;margin-left: -10px;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-5 col-xs-12">
                                <h4 class="title">Car <span>List</span></h4>
                            </div>
                            <div class="col-sm-7 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default" title="Pdf"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm2"></i></button>
                                    <button class="btn btn-default" title="Excel"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Car Model</th>
                                    <th>Reg No.</th>
                                    <th>Car Age</th>
                                    <th>Engine</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let car of carList;let idx=index">
                                    <td style="font-size: 20px;color: black;">{{car.cmodel}}</td>
                                    <td style="font-size: 20px;color: black;">{{car.creg}}</td>
                                    <td style="font-size: 20px;color: black;">{{car.cage}}</td>
                                    <td style="font-size: 20px;color: black;">{{car.cengine}}</td>
                                    <td style="font-size: 20px;color: black;">
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit" (click)="edit2(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm2"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                            <li><a href="#" data-tip="delete" (click)="delete2(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  
                          </div>
                      </div>
                  </div>
              </div>
             
            </div>
            </div>
            <br>
            <br>
            <br>
          </div>
          </div>
          


          <div class="modal fade" id="ModalForm2" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
              <div class="modal-content" >
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="myform" style="background-color:#48a9e9">
                        <h1 class="text-center">Car Details Form</h1>
                         <form [formGroup]="carform">
                            <div class="mb-3 mt-4">
                                <label class="form-label">Car Model</label>
                                <input type="text" class="form-control"  formControlName="cmodel">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="carform.controls['cmodel'].errors?.['required']">
                                       Model is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Car Registration No.</label>
                                <input type="password" class="form-control" formControlName="creg">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="carform.controls['cmodel'].errors?.['required']">
                                       Reg no. is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                              <label class="form-label">Car Age</label>
                              <input type="text" class="form-control"  formControlName="cage">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="carform.controls['cage'].errors?.['required']">
                                   Car age is required..!
                                </div>
                            </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Car Engine</label>
                              <input type="text" class="form-control" formControlName="cengine">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="carform.controls['cengine'].errors?.['required']">
                                   Engine No. is required..!
                                </div>
                            </div>
                          </div>
                            <button type="submit" class="btn btn-success mt-3" (click)="submit2()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked2=='no'"  style="background-color:green;">SUBMIT</button>
                            <button type="submit" class="btn btn-danger mt-3" (click)="clear2()" style="background-color:red;">CANCEL</button>
                            <button type="submit" class="btn btn-warning mt-3" (click)="update2()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked2=='yes'"  style="background-color:orange;">UPDATE</button>
                   </form>
                        </div>
                </div>
              </div>
            </div>
            </div>