<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="myform" style="background-color:#48a9e9">
                <h1 class="text-center">Login Form</h1>
               <form [formGroup]="loginform">
                    <div class="mb-3 mt-4">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="loginemail">
                        <div class="error" *ngIf="isSubmitted==true">
                          <div *ngIf="loginform.controls['loginemail'].errors?.['required']">
                             Email is required..!
                          </div>
                      </div>
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                        <div class="error" *ngIf="isSubmitted==true">
                          <div *ngIf="loginform.controls['password'].errors?.['required']">
                             Password is required..!
                          </div>
                      </div>
                      </div>
                    <button type="submit" class="btn btn-success mt-3" (click)="submit()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked=='no'"  style="background-color:green;">LOGIN</button>
                    <button type="submit" class="btn btn-danger mt-3" (click)="clear()" style="background-color:red;">CANCEL</button>
                    
    
                    <p>Not a member? <a href="#">Signup now</a></p>
               </form>
            </div>
        </div>
      </div>
    </div>
    </div>
    