<div class="row" style="background-color:#5a5858;">
    
    <div class="col-lg-11">
    <h2 class="text-center" style="color:white;font-size:50px;margin-left: -600px;">Billing Details</h2>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-info" title="Pdf" style="border-radius: 40px;margin-top: 7px;"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm5" style="font-size:40px;"></i></button>
</div>

  </div>
  <br>
      <!-- row 6 closed -->
       <!-- Row 6 -->
       <div class="row">
        <div class="col-lg-1">
            <!-- <img src="../assets/bill.gif" style="width:350px;height:550px;margin-left: 230px;margin-top: 30px;border-radius: 30px;"> -->
        </div>
        
      <div class="col-lg-9" style="margin-top: 20px;">
      <div class="container">
        <div class="row" style="margin-top: 20px;margin-left: 100px;">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel" style="height:540px;width: 1200px;margin-left: 15px;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-5 col-xs-12">
                                <h4 class="title">Billing <span>List</span></h4>
                            </div>
                            <div class="col-sm-7 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default" title="Pdf"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm5"></i></button>
                                    <button class="btn btn-default" title="Excel"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Reg No.</th>
                                    <th>Bill Date</th>
                                    <th>Bill Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bill of billList;let idx=index">
                                    <td style="font-size: 20px;color: black;">{{bill.bmodel}}</td>
                                    <td style="font-size: 20px;color: black;">{{bill.breg}}</td>
                                    <td style="font-size: 20px;color: black;">{{bill.bdate}}</td>
                                    <td style="font-size: 20px;color: black;">{{bill.bamount}}</td>
                                    <td style="font-size: 20px;color: black;">
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit" (click)="edit5(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm5"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                            <li><a href="#" data-tip="delete" (click)="delete5(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  
                          </div>
                      </div>
                  </div>
              </div>
             <br>
            </div>
            <br>
            <br>
            <br>
          </div>
          </div>

          <div class="modal fade" id="ModalForm5" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
              <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="myform" style="background-color:#48a9e9">
                        <h1 class="text-center">Billing Details</h1>
                             <form [formGroup]="billingform">
                            <div class="mb-3 mt-4">
                                <label class="form-label">Model Name</label>
                                <input type="text" class="form-control"  formControlName="bmodel">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="billingform.controls['bmodel'].errors?.['required']">
                                       Model is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Registration No.</label>
                                <input type="password" class="form-control" formControlName="breg">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="billingform.controls['breg'].errors?.['required']">
                                       Register No. is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                              <label class="form-label">Billling Date</label>
                              <input type="text" class="form-control"  formControlName="bdate">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="billingform.controls['bdate'].errors?.['required']">
                                   Date is required..!
                                </div>
                            </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Bill Amount</label>
                              <input type="text" class="form-control" formControlName="bamount">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="billingform.controls['bamount'].errors?.['required']">
                                   Amount is required..!
                                </div>
                            </div>
                          </div>
                            <button type="submit" class="btn btn-success mt-3" (click)="submit5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='no'"  style="background-color:green;">SUBMIT</button>
                            <button type="submit" class="btn btn-danger mt-3" (click)="clear5()" style="background-color:red;">CANCEL</button>
                            <button type="submit" class="btn btn-warning mt-3" (click)="update5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='yes'"  style="background-color:orange;">UPDATE</button>
                       </form>
                        </div>
                </div>
              </div>
            </div>
            </div>
