<nav class="navbar navbar-expand-sm fixed-top" style="background-color:#28517a">
  <!-- Brand/logo -->
  <div class="row">

  <div class="col-lg-2">
  <a class="navbar-brand" href="#">
    <img src="../assets/audi5.jfif" alt="logo" style="width:150px;height: 70px;margin-left: 30px;margin-top: -5px;">
    
  </a>
  
  </div>
  <div class="col-lg-8"></div>
  <!-- Links -->
  <div class="col-lg-2">
  <ul class="navbar-nav">
    <li class="nav-item" routerLink="cars">
      <a class="nav-link active" style="margin-left: -600px">
        <h1 style="color: white;margin-top:7px ;">
           Home
        </h1>
      </a>
    </li>
    <li class="nav-item" routerLink="cars">
      <a class="nav-link active" style="margin-left: -480px">
        <h1 style="color: white;margin-top:7px ;">
           Cars
        </h1>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="parts">
        <h1 style="color: white;margin-top:7px ;margin-left: -380px;">
         Parts
      </h1>
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="staff">
        <h1 style="color: white;margin-top:7px ;margin-left: -280px;">
         Staff
      </h1>
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="billing">
        <h1 style="color: white;margin-top:7px ;margin-left: -180px;">
         Billing
      </h1>
    </a>
    </li>
    <li class="nav-item" style="margin-left: 0px;">
      <a class="nav-link active" href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-md"  data-bs-toggle="modal" data-bs-target="#ModalForm1" style="margin-left: 500px;margin-top: 10px;">
          <i class="fa fa-user" style="font-size: 25px;"></i>
       </button></h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"><h5 style="color: white;">
        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#ModalForm" style="margin-top: 10px;">
           <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 25px;"></i>
        </button></h5></a>
    </li>
</ul>
</div>
</div>
</nav>
  
<div class="sidebar" style="margin-top: 90px;font-size: 30px;">
  <a class="active" href="#home">Home</a>
  <a href="#news">Cars</a>
  <a href="#contact">Parts</a>
  <a href="#about">Staff</a>
  <a href="#about">Billing</a>
</div>



<!-- row 1 -->
<div class="row">
  <div class="col-lg-1">

  </div>
  <div class="col-lg-11">
  <img src="../assets/new1.jpg" style="margin-left: 90px;height:620px;margin-top:90px;width: 100%;"> 
</div>
</div>
<div class="row" style="margin-top: 55px">
  <div class="col-lg-2" style="margin-left: 150px">
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm2">
        <i class="fa fa-car" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
      <h3 class="text-center" style="margin-left:-130px ;color: navy;">Car Details</h3>
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm3">
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 40px;"></i>
      </button></h5></a>
      <h3 class="text-center" style="margin-left:-130px ;color: navy;">Parts Details</h3>
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm4">
        <i class="fa fa-users" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
      <h3 class="text-center" style="margin-left:-130px ;color: navy;">Staff Details</h3>
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-primary btn-lg" style="height:100px;border-radius:100px;width:100px;border: 1.5px solid gray;background-color: #3f7ab4;" data-bs-toggle="modal" data-bs-target="#ModalForm5">
        <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:40px"></i>
      </button></h5></a>
      <h3 class="text-center" style="margin-left:-130px ;color: navy;">Billing Details</h3>
  </div>
  <div class="col-lg-2"></div>
</div>
<br>
<br>
<br>
<router-outlet></router-outlet>
   <!-- <app-car></app-car>
<br>
   <app-parts></app-parts>
<br>
   <app-staff></app-staff>
<br>
   <app-billing></app-billing>
<br> -->
    <!-- row 7 closed -->
    <!-- Footer -->
    <div class="container-fluid" style="background-color:white;margin-top: -50px;margin-left: 20px;">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #28517a;margin-left: 100px;margin-top: 20px;">
        <!-- Grid container -->
        <div class="container">
          <!-- Section: Links -->
          <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
              <!-- Grid column -->
              <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-white">About us</a>
                </h6>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-white">Products</a>
                </h6>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-white">Awards</a>
                </h6>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-white">Help</a>
                </h6>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-white">Contact</a>
                </h6>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row-->
          </section>
          <!-- Section: Links -->
    
          <hr class="my-5" />
    
          <!-- Section: Text -->
          <section class="mb-5">
            <div class="row d-flex justify-content-center" style="color: white;">
              <div class="col-lg-8">
                <a class="navbar-brand" href="#">
                  <img src="../assets/audi5.jfif" alt="logo" style="width:150px;height: 90px;margin-left: 0px;margin-top: -5px;">
                </a>
                <p class="text-white">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                  distinctio earum repellat quaerat voluptatibus placeat nam,
                  commodi optio pariatur est quia magnam eum harum corrupti
                  dicta, aliquam sequi voluptate quas.
                </p>
              </div>
            </div>
          </section>
          <!-- Section: Text -->
    
          <!-- Section: Social -->
          <section class="text-center mb-5">
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-github"></i>
            </a>
          </section>
          <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/"
             >MDBootstrap.com</a
            >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- End of .container -->




    <!-- Footer closed -->
    

<!-- Modal login -->
<app-login></app-login>
<!-- modal closed -->

<!-- Modal Register-->
<app-register></app-register>

<!-- modal closed -->
<!-- Car Modal -->

<!-- modal closed -->
<!-- Parts Modal -->

<!-- modal closed -->
<!-- Modal Staff -->

<!-- modal closed -->
<!-- Modal Billing -->

<!-- modal closed -->