<div class="row" style="background-color:#5a5858;">
    
    <div class="col-lg-11">
    <h2 class="text-center" style="color:white;font-size:50px;margin-left: -600px;">Parts Details</h2>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-info" title="Pdf" style="border-radius: 40px;margin-top: 7px;"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm3" style="font-size:40px;"></i></button>
</div>

  </div>
  <br>
      <!-- row 4 closed -->
      <!-- row 5-->
      
      <div class="row">
        <div class="col-lg-1">
            
        </div>
        
      <div class="col-lg-9" style="margin-top: 20px;">
      <div class="container">
        <div class="row" style="margin-top: 20px;margin-left: 0px;">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel" style="height:540px;width: 1200px;margin-left: 110px;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-5 col-xs-12">
                                <h4 class="title">Car Parts <span>List</span></h4>
                            </div>
                            <div class="col-sm-7 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default" title="Pdf"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm3"></i></button>
                                    <button class="btn btn-default" title="Excel"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Chasis No</th>
                                    <th>Car Body</th>
                                    <th>Car Engine</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let parts of partsList;let idx=index">
                                    <td style="font-size: 20px;color: black;">{{parts.pmodel}}</td>
                                    <td style="font-size: 20px;color: black;">{{parts.pchasis}}</td>
                                    <td style="font-size: 20px;color: black;">{{parts.pbody}}</td>
                                    <td style="font-size: 20px;color: black;">{{parts.pengine}}</td>
                                    <td style="font-size: 20px;color: black;">
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit" (click)="edit3(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm3"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                            <li><a href="#" data-tip="delete" (click)="delete3(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  
                          </div>
                      </div>
                  </div>
              </div>
             
            </div>
            <br>
            <br>
            <br>
          </div>
          </div>
          <br>
          <br>

          <div class="modal fade" id="ModalForm3" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
              <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="myform" style="background-color:#48a9e9">
                        <h1 class="text-center">Car Parts Details</h1>
                       <form [formGroup]="partsform">
                            <div class="mb-3 mt-4">
                                <label class="form-label">Car Model Name</label>
                                <input type="text" class="form-control"  formControlName="pmodel">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="partsform.controls['pmodel'].errors?.['required']">
                                       Model is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Car Chasis No.</label>
                                <input type="password" class="form-control" formControlName="pchasis">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="partsform.controls['pchasis'].errors?.['required']">
                                       Chasis no. is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                              <label class="form-label">Car Body</label>
                              <input type="text" class="form-control"  formControlName="pbody">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="partsform.controls['pbody'].errors?.['required']">
                                   no. is required..!
                                </div>
                            </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Car Engine</label>
                              <input type="text" class="form-control" formControlName="pengine">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="partsform.controls['pengine'].errors?.['required']">
                                Engine no. is required..!
                                </div>
                            </div>
                          </div>
                            <button type="submit" class="btn btn-success mt-3" (click)="submit3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='no'"  style="background-color:green;">SUBMIT</button>
                            <button type="submit" class="btn btn-danger mt-3" (click)="clear3()" style="background-color:red;">CANCEL</button>
                            <button type="submit" class="btn btn-warning mt-3" (click)="update3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='yes'" style="background-color:orange;">UPDATE</button>
                   </form>
                        </div>
                </div>
              </div>
            </div>
            </div>

