<div class="row" style="background-color:#5a5858;">
    
    <div class="col-lg-11">
    <h2 class="text-center" style="color:white;font-size:50px;margin-left: -600px;">Staff Details</h2>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-info" title="Pdf" style="border-radius: 40px;margin-top: 7px;"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm4" style="font-size:40px;"></i></button>
</div>

  </div>
  <br>
      <!-- row 5 closed -->
      <!-- Row 6 -->
      <div class="row">
        <div class="col-lg-1">
            
        </div>
        
      <div class="col-lg-9" style="margin-top: 20px;">
      <div class="container">
        <div class="row" style="margin-top: 20px;margin-left: 100px;">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel" style="height:540px;width: 1200px;margin-left: 15px;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-5 col-xs-12">
                                <h4 class="title">Staff <span>List</span></h4>
                            </div>
                            <div class="col-sm-7 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default" title="Pdf"><i class="fa fa-plus" data-bs-toggle="modal" data-bs-target="#ModalForm4"></i></button>
                                    <button class="btn btn-default" title="Excel"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let staff of staffList;let idx=index">
                                    <td style="font-size: 20px;color: black;">{{staff.sname}}</td>
                                    <td style="font-size: 20px;color: black;">{{staff.scontact}}</td>
                                    <td style="font-size: 20px;color: black;">{{staff.semail}}</td>
                                    <td style="font-size: 20px;color: black;">{{staff.saddress}}</td>
                                    <td style="font-size: 20px;color: black;">
                                        <ul class="action-list">
                                            <li><a href="#" data-tip="edit" (click)="edit4(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm4"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                            <li><a href="#" data-tip="delete" (click)="delete4(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  
                          </div>
                      </div>
                  </div>
              </div>
             
            </div>
            <br>
            <br>
            <br>
          </div>
          </div>
          <br>
          <br>

          <div class="modal fade" id="ModalForm4" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
              <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="myform" style="background-color:#48a9e9">
                        <h1 class="text-center">Staff Form</h1>
                          <form [formGroup]="staffform">
                            <div class="mb-3 mt-4">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" formControlName="sname">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="staffform.controls['sname'].errors?.['required']">
                                       Name is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contact No.</label>
                                <input type="password" class="form-control" formControlName="scontact">
                                <div class="error" *ngIf="isSubmitted==true">
                                    <div *ngIf="staffform.controls['scontact'].errors?.['required']">
                                       Contact is required..!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                              <label class="form-label">Address</label>
                              <input type="text" class="form-control"  formControlName="semail">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="staffform.controls['semail'].errors?.['required']">
                                   Email is required..!
                                </div>
                            </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label">Email</label>
                              <input type="text" class="form-control" formControlName="saddress">
                              <div class="error" *ngIf="isSubmitted==true">
                                <div *ngIf="staffform.controls['saddress'].errors?.['required']">
                                   Address is required..!
                                </div>
                            </div>
                          </div>
                            <button type="submit" class="btn btn-success mt-3" (click)="submit4()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked4=='no'"  style="background-color:green;">SUBMIT</button>
                            <button type="submit" class="btn btn-danger mt-3" (click)="clear4()" style="background-color:red;">CANCEL</button>
                            <button type="submit" class="btn btn-warning mt-3" (click)="update4()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked4=='yes'" style="background-color:orange;">UPDATE</button>
                    </form>
                        </div>
                </div>
              </div>
            </div>
            </div>