<div class="modal fade" id="ModalForm1" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="myform" style="background-color:#48a9e9">
                <h1 class="text-center">Register Form</h1>
               <form [formGroup]="registerform">
                    <div class="mb-3 mt-4">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control"  formControlName="rname">
                        <div class="error" *ngIf="isSubmitted==true">
                          <div *ngIf="registerform.controls['rname'].errors?.['required']">
                             Name is required..!
                          </div>
                      </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact No.</label>
                        <input type="password" class="form-control" formControlName="rcontact">
                        <div class="error" *ngIf="isSubmitted==true">
                          <div *ngIf="registerform.controls['rcontact'].errors?.['required']">
                             Contact is required..!
                          </div>
                      </div>
                    </div>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Address</label>
                      <input type="text" class="form-control"  formControlName="remail">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="registerform.controls['remail'].errors?.['required']">
                           Email is required..!
                        </div>
                    </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control" formControlName="raddress">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="registerform.controls['raddress'].errors?.['required']">
                           Address is required..!
                        </div>
                    </div>
                  </div>
                    <button type="submit" class="btn btn-success mt-3" (click)="submit1()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked1=='no'" style="background-color:green;">REGISTER</button>
                    <button type="submit" class="btn btn-danger mt-3" (click)="clear1()" style="background-color:red;">CANCEL</button>
            </form>        
            </div>
        </div>
      </div>
    </div>
    </div>